@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600);

  html{
    height:100%;
    width:102.5%;
    background: linear-gradient(to top right,#efc96e,#fa64b2);
    /*  background-image: url("img/03.jpg");*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  body{
    font-size: 20px;
    font-family: sans-serif;
    color: #333;
    font-weight: 300;
    text-align: center;
    overflow: hidden;
  }
  #bg img{
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.35;
    z-index: -1;
    height:auto;
    width:inherit;
  }
  #bg{
    height: 100%;
    width: 102.5%;
  }
  .container{
    position: relative;
    height: 630px;
    margin-top: 40px;
  }
  footer{
    width: 102%;
    height: 40px;
    position: absolute;
    text-align: center;
    bottom:0px;
    display: block;
    background:rgba(255, 255, 255, 0.1);
  }
  #bomail{
    display: inline-block;
    color: #f77062;
    font-size: 16px;
    line-height: 16px;
    padding: 5px;

  }
  #betterofofficial{
    display: inline-block;
    margin-top: 7px;
    font-size: 16px;
    line-height: 16px;
    padding: 5px;
    color: #ffffff;
  }
  a.button{
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    background-color: #ffffff;
    color: #f77062;
    border: 0px;
    border-radius: 2px;
    padding: 20px 0px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 150px;
    text-decoration: none;
  }
  a.button:hover{
    background-color: #f77062;
    color:#ffffff;
  }
  h1{
    font-weight: 300;
    margin: 0px;
    padding: 10px;
    font-size: 40px;
    color: #ffffff;

  }
  p{
    font-weight: 300;
    margin: 0px;
    padding: 10px;
    font-size: 20px;
    color: #ffffff;
  }
